@CHARSET "ISO-8859-1";
/* navbar */
.navbar-default {
    background-color: #1e6912;
    border-color: #97D38D;
    height:65px;
}

/* link */
.navbar-default .navbar-nav > li > a {
     background-color: #1e6912;
    color: #97D38D;
     height:65px;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    background-color: #97D38D;
    color: #1e6912;
    height:65px;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
   background-color: #97D38D;
    color: #1e6912;
     height:65px;
}
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    background-color: #97D38D;
    color: #1e6912;
 height:65px;
}
/* caret */
.navbar-default .navbar-nav > .dropdown > a .caret {

    color: #97D38D;
}